.DS_Store
/build
/curl
/download
*.7z
*.zip
/include
/x86-debug-dll
/x86-release-dll
/x86-debug-static
/x86-release-static
/x64-debug-dll
/x64-release-dll
/x64-debug-static
/x64-release-static
/current
7za/
